.dropdown-container .ant-btn {
    margin-left: 8px;
    font-size: 0.85rem;
    margin-bottom: 4rem;
    margin-top: 1.4rem;
}

.dropdown-container .anticon-down svg {
    width: 0.7rem;
}

.dropdown-container .button-content {
    display: flex;
    min-width: 130px;
    align-items: center;
}