.table-container .repo-count {
    color: #000;
    font-weight: 400;
    margin-bottom: 6px;
}

.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td.ant-table-column-sort {
    background: rgba(0, 0, 0, 0.01);
}

.ant-tag {
    border: 1px solid #eee;
}